name: Run Postman API Tests with Newman

on:
  workflow_dispatch:
  push:
    branches: [ "Clean_comments" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest
    name: Execute Postman Collections via Newman

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: |
          npm install -g newman newman-reporter-htmlextra

      - name: Run API Tests
        run: |
          newman run postman/c
